/* fredoka-one-regular - latin */
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fredoka-one-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fredoka-one-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* hind-madurai-500 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/hind-madurai-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/hind-madurai-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-regular - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/hind-madurai-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-600 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/hind-madurai-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-700 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/hind-madurai-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 85px;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    background-color: rgb(208, 255, 155);
}

img {
    vertical-align: middle;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    max-width: 1276px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* ____________________________ */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_link {
    margin-right: 39px;
}

.header_link_img {
    width: 121px;
    height: 49px;
    object-fit: contain;
    object-position: center;
}

.header_form {
    display: flex;
}

.header_search {
    border: none;
    outline: none;
    padding: 12px;
    font-size: 14px;
    line-height: 21px;
    color: #2F294D;
    border-radius: 8px 0px 0px 8px;
    width: 494px;
    background: #F3F3F3;
}

.header_search_btn {
    border: none;
    outline: none;
    width: 55px;
    background: #0064D2;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

.header_search_btn:hover {
    opacity: 0.8;
}

.header_search_btn:active {
    opacity: 0.6;
}

.header_search_img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_list {
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.header_item {
    display: flex;
    align-items: center;
}
.header_item:last-child {
    margin-left: 26px;
}

.header_inner_wrapper {
    position: relative;
}

.header_inner_img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header_inner_wrapper::before {
    content: "4";
    position: absolute;
    top: -6px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: #0064D2;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
}
.header_inner_right {
    margin-left: 11px;
}

.header_inner_right_text {
    margin: 0;
    margin-bottom: 3px;
}

.header_inner_right_price {
    margin: 0;
}

.header_avatar_wrapper {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

.header_avatar_img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 9px;
}

.header_down_img {
    width: 18px;
    height: 18px;
}

.header_button {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    padding: 14px;
    background-color: #0064D2;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.header_button:hover {
   opacity: 0.8;
}

.header_button:active {
   opacity: 0.6;
}

.header_button_icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 9px;
}

select {
    padding: 20px;
    width: 500px;
    border-radius: 20px;
}

option {
    line-height: 50px;
    display: inline-block;
}